# Puerto del servidor local
PORT=3000

# Cadena de conexión a MongoDB Atlas (sustituir datos)
MONGODB_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<nombre_db>?retryWrites=true&w=majority

# Entorno de ejecución
NODE_ENV=development